<div id="global-nav" class="navbar-fixed-top">
        <div class="nav-inner z-clearfix">
            <nav>
                <ul class="top-nav-list">
                    <li class="current"><a href="/">首页</a></li>
                    <li>
                        <a href="">资讯</a>
                    </li>
                    <li>
                        <a href="">博客</a>
                    </li>
                </ul>
            </nav>
            
        </div>
    </div>
  
    <nav class="navbar navbar-default main-nav" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Brand" src="__IMG__/logo.png" height="60px">
          </a>
        </div>
        <form class="my-form" role="search">
            <div class="form-group">
              <input type="text" class="form-control" autocomplete="off" placeholder="搜索">
            </div>
            <button type="submit" class="btn_search glyphicon glyphicon-search"></button>
          </form>
      </div>
    </nav>