<div class="single-tag">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <volist name="banners" id="vo" key="k">
      <li data-target="#carousel-example-generic" data-slide-to="{$k-1}" <eq name="k" value='1'>class="active"</eq>></li>
      </volist>
    </ol>
    <div class="carousel-inner" role="listbox">
      <volist name="banners" id="vo" key="k">
       <div class="item <eq name="k" value='1'>active</eq>">
          <a href="{$vo.url}" title="{$vo.title}">
             <img width="630" height="350" alt="{$vo.title}" src="/Uploads/Images/{$vo.data}" data-holder-rendered="true">
          </a>
        </div>
      </volist>
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
            </div>