.product{
    margin-top: 36px;

}
.product-sidebar {
    display: block;   
    z-index: 3;
    border-right: 1px solid #e6e2e2;
    margin-top: 14px;
}
.product-sidebar .date {
    position: relative;
    margin-bottom: 10px;
    padding: 0 12px;
}
.product-sidebar .cal {
    position: absolute;
    left: 0px;
    display: inline-block;
    padding: 2px 0;
    width: 34px;
    height: 44px;
    background: #948CF1;
    color: #fff;
    text-align: center;
}
.product-sidebar .cal i {
    position: relative;
    font-style: normal;
    display: block;
}
.product-sidebar .month {
    text-transform: uppercase;
    font-size: 1.225rem;
    top: 2px;
}
.product-sidebar .day {
    font-weight: 600;
    font-size: 2.125rem;
}
.product-sidebar .date small {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    margin-left: 89px;
    margin-top: 8px;
    line-height: 30px;
    font-size: 1.8rem;
    font-weight: 600;
    width: 100px;
}
.product-sidebar .product-lists {
    display: block;
    padding-top: 10px;
    top: 10px;
    bottom: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 3;
    position: relative;
    height: 294px;
    margin-top: 10px;
}
.product-sidebar .product-lists {
    position: relative;
    top: 0;
    bottom: 0;
    height: 290px;
    margin-top: 1.6875rem;
}
.product-sidebar .product-lists ul {
    position: absolute;
    margin-top: 0px;
}
.product-sidebar .product-lists ul {
    width: 100%;
    padding:0;
}
.product-sidebar ul {
    width: 90%;
}
.product-sidebar ul {
    position: absolute;
    margin-top: 0px;
    padding:0px;
    padding-left: 54px;
        max-width: 100%;

}
.product-sidebar ul a.product-sidebar-url {
    display: block;
    line-height: 1.375rem;
    font-size: 16px;
    color: #AAA;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: nowrap;
    height: 1.375rem;
}
.product-sidebar ul li.active a.product-sidebar-url {
    color: #1ED0E1;
    text-align: center;
}
.product-sidebar ul li {
    margin: 1.6875rem 0.125rem 1.6875rem 0;
}

.product .content{
    padding: 30px;
}
.product .article-tit{
     color: #ff6700;
     font-size: 24px;
}


.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 4px;
    border-radius: 3px;
}
.bs-callout-danger {
    border-left-color: #ff6700;
}

.product-images h2{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}
.product-images .screenshots-wrapper {
    width: auto;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}
.product-images .screenshots-wrapper ul{padding:0;}
.product-images .screenshots-wrapper ul li{margin-right: 10px; float: left;}
.product-images .screenshots{
    height: 350px;overflow: hidden;
}