<extend name="Base/common"/>

    <block name="style">
        <link href="__CSS__/detail.css" rel="stylesheet">
    </block>
<block name="body">
   <section class="container">
        <div class="row">
            <div id="article" class="col-sm-9">
                <div class="single-item">
                    <div class="article-hd">
                        <h1 class="article-tit">{$info.title}</h1>
                        <div class="clearfix">
                            <div class="author-time pull-left">
                                    <span class="name">{$info.media}</span>
                                <span class="date-time" data-time="1477305393">{$info.create_time|date="Y-m-d",###}</span>
                            </div>
                            <div class="article-tags pull-right">
                                <span>标签:</span>
                                <a target="_blank" class="tag-link" href="">融资</a>
                                <a target="_blank" class="tag-link" href="">每日融资</a>
                                <a target="_blank" class="tag-link" href="">创业邦</a>              
                            </div>
                        </div>
                    </div>
                    <div class="article-content">
                        {$info.content}
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-24">
                {:W('Ad/hour24')}
            </div>
        </div>
    </section>
    
</block>
    <block name="script">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__JS__/bootstrap.min.js"></script>
    </block>